include ../post-item/post-item

mixin posts(isFaq)
	-
		const newsItems = [
			{
				title: 'О предоставлении субсидий за оплату коммунальных услуг. Общее собрание собственников помещений',
				date: '22.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Информация по оплате коммунальный услуг',
				date: '20.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Переезд инженерной службы',
				date: '19.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Электронные услуги ЖКХ',
				date: '18.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Пени за не оплату коммунальных услуг',
				date: '17.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'В Новый год без долгов за жилищно-коммунальные услуги',
				date: '15.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Изменение адреса ООО УК "Четыре Солнца"',
				date: '14.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Изменение адреса Инженерной службы',
				date: '13.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Уведомление об ограничении коммунальных услуг. Ноябрь 2017',
				date: '12.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Общее собрание собственников помещений',
				date: '10.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Электронные услуги ЖКХ',
				date: '08.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
			{
				title: 'Общее собрание собственников помещений',
				date: '10.04.2020',
				content: `
					<p>В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
						&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
						(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
						на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
						6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
						гражданами Центров государственных услуг &laquo;Мои документы&raquo;
						и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
						в&nbsp;органы исполнительной власти.
					</p>
				`
			},
		];

		const faqItems = [
			{
				title: 'Какой порядок рассмотрения и исполнения заявок и обращений?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:</p>
					<p>
						- По квитанции, в отделении банка<br>
						- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
						- Через терминалы Сбербанка<br>
						- Через терминалы QIWI (без комиссии)
					</p>
				`
			},
			{
				title: 'Какими способами я могу оплачивать электроэнергию?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:</p>
					<p>
						- По квитанции, в отделении банка<br>
						- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
						- Через терминалы Сбербанка<br>
						- Через терминалы QIWI (без комиссии)
					</p>
				`
			},
			{
				title: 'Где я могу получить кадастровый паспорт?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:</p>
					<p>
						- По квитанции, в отделении банка<br>
						- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
						- Через терминалы Сбербанка<br>
						- Через терминалы QIWI (без комиссии)
					</p>
				`
			},
			{
				title: 'Что входит в вид платежей в январской платежке: СодРемонСНДС и СодРемБезНДС. Входит ли туда уборка мусора из мусоропровода?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:</p>
					<p>
						- По квитанции, в отделении банка<br>
						- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
						- Через терминалы Сбербанка<br>
						- Через терминалы QIWI (без комиссии)
					</p>
				`
			},
			{
				title: 'Хотелось бы понять, до какого срока в платежках будет начисляться вывоз мусора? У меня ремонт давно закончен, строительного мусора от меня нет, прошу исключить данный платеж из моей платежки.',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:</p>
					<p>
						- По квитанции, в отделении банка<br>
						- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
						- Через терминалы Сбербанка<br>
						- Через терминалы QIWI (без комиссии)
					</p>
				`
			}
		];

	+b.posts(
		data-controller='loader'
		data-loader-url=`${baseDir}data/ajax/${isFaq ? 'faq' : 'news-v2'}.html`
	)&attributes(attributes)
		+e.container
			each item in isFaq ? faqItems : newsItems
				+post-item(item, isFaq).__post-item(data-target='loader.item')
