include ../faq-item/faq-item

mixin faq()
	-
		const items = [
			{
				title: 'Какой порядок рассмотрения и исполнения заявок и обращений?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:<br><br>
					- По квитанции, в отделении банка<br>
					- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
					- Через терминалы Сбербанка<br>
					- Через терминалы QIWI (без комиссии)</p>
				`
			},
			{
				title: 'Какими способами я могу оплачивать электроэнергию?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:<br><br>
					- По квитанции, в отделении банка<br>
					- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
					- Через терминалы Сбербанка<br>
					- Через терминалы QIWI (без комиссии)</p>
				`
			},
			{
				title: 'Где я могу получить кадастровый паспорт?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:<br><br>
					- По квитанции, в отделении банка<br>
					- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
					- Через терминалы Сбербанка<br>
					- Через терминалы QIWI (без комиссии)</p>
				`
			},
			{
				title: 'Что входит в вид платежей в январской платежке: СодРемонСНДС и СодРемБезНДС. Входит ли туда уборка мусора из мусоропровода?',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:<br><br>
					- По квитанции, в отделении банка<br>
					- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
					- Через терминалы Сбербанка<br>
					- Через терминалы QIWI (без комиссии)</p>
				`
			},
			{
				title: 'Хотелось бы понять, до какого срока в платежках будет начисляться вывоз мусора? У меня ремонт давно закончен, строительного мусора от меня нет, прошу исключить данный платеж из моей платежки.',
				number: '12517',
				date: '18.06.2015',
				content: `
					<p>Производить оплату электроэнергии можно:<br><br>
					- По квитанции, в отделении банка<br>
					- Онлайн, на сайте компании "Мосэнергосбыт" http://www.mosenergosbyt.ru/ (как в Личном кабинете, так и без регистрации в Личном кабинете)<br>
					- Через терминалы Сбербанка<br>
					- Через терминалы QIWI (без комиссии)</p>
				`
			}
		];

	+b.faq(
		data-controller='loader'
		data-loader-url=`${baseDir}data/ajax/faq.html`
	)&attributes(attributes)
		+e.container
			each item in items
				+faq-item(item).__faq-item(data-target='loader.item')
