include ../field-label/field-label
include ../button/button

mixin form-question()
	+b.FORM.form-question&attributes(attributes)
		+e.grid
			+e.cell
				+field-label({label: 'ФИО'})(type='text')

			+e.cell
				+field-label({label: 'E-Mail'})(type='email')

			+e.cell
				+field-label({label: 'Контактный телефон'})(type='tel')

			+e.cell
				+field-label({tag: 'select', label: 'Улица, дом'}).--select
					option
					option Street 1
					option Street 2
					option Street 3

			+e.cell
				+field-label({label: 'Квартира'})(type='text')

			+e.cell
				+field-label({tag: 'textarea', label: 'Ваш вопрос'}).--area

			+e.cell
				+button()(type='submit').--primary.--larger Отправить
