mixin button({tag = 'button', icon} = {})
	+b({tag}).button(role=tag !== 'button' ? 'button' : null)&attributes(attributes)
		if icon
			+svg(icon).icon(class=`--${icon}`)

		if block
			+e.SPAN.content
				block
