mixin menu()
	-
		const menu = [
			{
				content: 'Подборки',
				url: '#sets'
			},
			{
				content: 'Франшизы',
				url: '#franchises'
			},
			{
				content: 'Услуги',
				url: jsv
			},
			{
				content: 'Статьи',
				url: '#articles'
			},
			{
				content: 'О нас',
				url: jsv
			},
			{
				content: 'Контакты',
				url: jsv
			}
		];

	+b.NAV.menu&attributes(attributes)
		+e.grid
			each menuItem in menu
				+e.cell
					+e.A.item(href=menuItem.url data-action="header#closeMenu")
						| #{menuItem.content}
