.menu {
	display: flex;
	flex-flow: column;

	@media (max-width: $screen-md-max) {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		overflow: hidden;
		padding: var(--gutter);
		background: var(--color-limeade);
		background: linear-gradient(-135deg, #a1c600, #009103);
		transition: visibility, opacity;
		transition-duration: 0.2s;

		&:not(.is-opened) {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__grid {
		display: flex;
		margin: -10px;

		@media (max-width: $screen-md-max) {
			margin: 0 var(--gutter-negative);
			flex-flow: column;
		}
	}

	&__cell {
		padding: 10px;

		@media (max-width: $screen-md-max) {
			padding: 0;
		}
	}

	&__item {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: var(--color-black);
		font-size: 1.8rem;
		line-height: 1.25;
		letter-spacing: 0.01em;
		text-decoration: none;
		transition: color 0.2s;

		@include hover {
			color: var(--color-fun-green);
		}

		@media (max-width: $screen-md-max) {
			padding: 10px var(--gutter);
			color: var(--color-white);
			text-align: center;
		}
	}
}
