include ../content/content

mixin section-main({breadcrumb, title} = {})
	+b.SECTION.section-main&attributes(attributes)
		+e.HEADER.header
			+e.container--header
				if breadcrumb
					+e.NAV.breadcrumb
						each item in breadcrumb
							+e.breadcrumb-item
								+e.A.breadcrumb-link(href=`${baseDir}${item[1]}`) #{item[0]}

				+e.H1.title #{title}

		+e.main
			+e.container
				+e.column
					+content().--article
						p.
							В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020 &#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года (дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года (дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие 6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения гражданами Центров государственных услуг &laquo;Мои документы&raquo; и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений в&nbsp;органы исполнительной власти.
