.section-main {
	$r: &;

	padding-bottom: max-to-min(64px, 32px);

	&--header-bg {
		#{$r}__header {
			color: #FFFFFF;
		}

		#{$r}__title {
			font-size: max-to-min(96px, 64px);
		}
	}

	&__header {
		display: flex;
		position: relative;
		margin-bottom: 32px;
		padding-top: calc(var(--header_-_height) + 32px);
		padding-bottom: 32px;
		min-height: 320px;
		overflow: hidden;
		background: var(--color-alabaster);
		color: var(--color-emperor);
	}

	&__header-bg {
		position: absolute;
		top: -10px;
		right: -10px;
		bottom: -10px;
		left: -10px;
		background: url("../images/header-bg.jpg") no-repeat 50% / cover;
		filter: blur(10px);
		pointer-events: none;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(to right, rgba(#000000, 0.24), rgba(#000000, 0.24));
		}
	}

	&__container {
		@include container;

		&--header {
			display: flex;
			flex-flow: column;
			position: relative;
			flex: 0 0 100%;
		}
	}

	&__breadcrumb {
		margin-bottom: 32px;
	}

	&__breadcrumb-item {
		display: inline;
		color: var(--color-default);
		font-size: 16px;
		line-height: 1.25;

		& + & {
			&::before {
				content: ' / ';
			}
		}
	}

	&__breadcrumb-link {
		color: var(--color-primary);
		text-decoration: none;
		transition: color $duration-normal;

		@include hover {
			color: var(--color-primary-hover);
		}
	}

	&__title {
		margin: auto 0 0;
		max-width: 1032px;
		font-weight: 400;
		font-size: max-to-min(48px, 32px);
		line-height: var(--line-height-heading);
	}

	&__main {
	}

	&__column-content {
		max-width: 864px;
	}

	&__footer {
		margin-top: 32px;
	}

	&__intro-faq {
		margin-bottom: 24px;
	}

	&__intro-faq-grid {
		display: flex;

		@media (max-width: $screen-sm-max) {
			flex-flow: wrap;
		}
	}

	&__intro-faq-content {
		margin-right: auto;
		align-self: center;
		flex: 0 1 100%;
		max-width: 1048px;

		@media (max-width: $screen-sm-max) {
			margin-bottom: 16px;
		}
	}

	&__intro-faq-button {
		margin-left: 32px;
		flex: none;

		@media (max-width: $screen-sm-max) {
			margin-left: 0;
		}
	}
}
