.app {
	&__body {
		display: flex;
		flex-flow: column;
		min-width: $responsive-width-min;
		min-height: 100vh;
		overflow-x: hidden;
		background: #F9F9F9;
		font-family: var(--font-family-jost);
	}

	&__header {

	}

	&__main {
		//margin-top: calc(var(--header_-_height) + 0px);
	}

	&__footer {
		margin-top: auto;
	}
}
