.app {
	&__body {
		display: flex;
		flex-flow: column;
		min-width: $responsive-width-min;
		min-height: 100vh;
		overflow-x: hidden;
		background: #F9F9F9;
		font-family: var(--font-family-default);
	}

	&__footer {
		margin-top: auto;
	}
}
