.content {
	--content_-_color: var(--content_-_color-custom, var(--color-default));
	--content_-_font-size: var(--content_-_font-size-custom, 16px);
	--content_-_line-height: var(--content_-_line-height-custom, 1.25);
	--content-heading_-_line-height: var(--content-heading_-_line-height-custom, var(--line-height-heading));
	--content_-_max-width: var(--content_-_max-width-custom, none);
	--content_-_interval: calc(var(--content_-_font-size) * var(--content_-_line-height));
	max-width: var(--content_-_max-width);
	color: var(--content_-_color);
	font-size: var(--content_-_font-size);
	line-height: var(--content_-_line-height);

	&::before,
	&::after {
		content: '';
		display: table;
		clear: both;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		line-height: var(--content-heading_-_line-height);

		&:not(:last-child) {
			margin-bottom: var(--content_-_interval);
		}
	}

	h1,
	h2,
	h3 {
		font-weight: 400;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-weight: 500;
		font-size: 24px;
	}

	p,
	ol,
	ul,
	dl,
	dd {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: var(--content_-_interval);
		}
	}

	li {
		&:not(:last-child) {
			margin-bottom: var(--content_-_font-size);
		}
	}

	dt {
		font-weight: 700;
		font-size: 14px;
	}

	small {
		font-size: percentage(14 / 16);
	}

	a {
		color: var(--color-primary);
		text-decoration: none;
		transition: color $duration-normal;

		@include hover {
			color: var(--color-primary-hover);
		}
	}

	img {
		vertical-align: middle;
		max-width: 100%;

		&.center {
			display: block;
			margin-right: auto;
			margin-left: auto;

			&:not(:first-child) {
				margin-top: var(--content_-_interval);
			}

			&:not(:last-child) {
				margin-bottom: var(--content_-_interval);
			}
		}
	}

	.medium {
		font-weight: 500;
	}

	.phone-number {
		color: inherit;
		font-size: 24px;

		@include hover {
			color: inherit;
		}
	}

	&--larger {
		--content_-_font-size: var(--content_-_font-size-custom, 18px);
	}

	&--smaller {
		--content_-_font-size: var(--content_-_font-size-custom, 14px);
	}

	&--article {
		--content_-_color: var(--content_-_color-custom, var(--color-mine-shaft));
		--content_-_font-size: var(--content_-_font-size-custom, #{max-to-min(24px, 20px)});
	}

	&--faq {
		--content_-_color: var(--content_-_color-custom, var(--color-emperor));
		font-weight: 500;
	}

	&--max-768 {
		--content_-_max-width: var(--content_-_max-width-custom, 768px);
	}
}
