:root {
	--content_-_color: var(--color-default);
	--content_-_font-size: 16px;
	--content_-_line-height: 1.25;
	--content_-_interval: calc(1em * var(--content_-_line-height));
}

.content {
	color: var(--content_-_color);
	font-size: var(--content_-_font-size);
	line-height: var(--content_-_line-height);

	&::before,
	&::after {
		content: '';
		display: table;
		clear: both;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: var(--content_-_interval);
		}
	}

	h3 {
		font-weight: 500;
		font-size: 18px;
	}

	p,
	ol,
	ul,
	dl,
	dd {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: var(--content_-_interval);
		}
	}

	dt {
		font-weight: 700;
		font-size: 14px;
	}

	small {
		font-size: 14 / 16 * 1em;
	}

	a {
		color: var(--color-primary);
		text-decoration: none;
		transition: color $duration-normal;

		@include hover {
			color: var(--color-primary-hover);
		}
	}

	.medium {
		font-weight: 500;
	}

	.phone-number {
		color: inherit;
		font-size: 24px;

		@include hover {
			color: inherit;
		}
	}

	&--larger {
		--content_-_font-size: 18px;
	}

	&--smaller {
		--content_-_font-size: 14px;
	}
}
