mixin modal({title} = {})
	+b.modal(
		hidden
		data-controller='modal'
		data-modal-shown='false'
	)&attributes(attributes)
		+e.overlay

		+e.frame
			+e.body
				+e.BUTTON.button-close(type='button' data-action='modal#hide') Закрыть

				+e.header
					+e.title #{title}

				+e.main
					block
