:root {
	--header_-_height: 72px;
	--header_-_background-color: var(--color-white);
	--header_-_color: var(--color-tundora);

	@media (max-width: $screen-md-max) {
		--header_-_height: 64px;
	}
}

.header {
	$r: &;

	--header-nav_-_color: var(--header_-_color);
	position: relative;
	z-index: 100;
	height: var(--header_-_height);
	background: var(--header_-_background-color);

	&--transparent {
		--header_-_background-color: transparent;
		--header_-_color: var(--color-alabaster);
		--button--login_-_border-color: transparent;
		--button--login_-_color: var(--header_-_color);

		#{$r}__button-menu-line {
			background: var(--header_-_color);
		}
	}

	&__container {
		@include container;
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__button-menu {
		position: relative;
		margin-right: 24px;
		border: 0;
		padding: 0;
		width: 24px;
		height: 24px;
		background: none;

		&.is-opened {
			#{$r}__button-menu-line {
				&:nth-child(1) {
					transform: translateY(0) rotate(45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: translateY(0) rotate(-45deg);
				}
			}
		}

		@media (min-width: $screen-lg) {
			display: none;
		}
	}

	&__button-menu-line {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		width: 100%;
		height: 2px;
		background: var(--color-primary);
		transition: transform, opacity;
		transition-duration: $duration-normal;
		pointer-events: none;

		&:nth-child(1) {
			transform: translateY(-8px);
		}

		&:nth-child(3) {
			transform: translateY(8px);
		}
	}

	&__logo {
		margin-right: max-to-min(40px, 24px);
		flex: none;
		width: 40px;
		height: 40px;
		color: var(--color-primary);
		text-decoration: none;

		@media (max-width: $screen-md-max) {
			display: none;
		}
	}

	&__logo-img {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__nav {
		margin-right: auto;
		min-width: 0;
	}

	&__phone-text {
		margin-left: 24px;
		flex: none;
		color: var(--header_-_color);
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		text-align: right;

		@media (max-width: $screen-xl-max) {
			display: none;
		}
	}

	&__phone {
		margin-left: 24px;
		flex: none;
		white-space: nowrap;
		color: var(--header_-_color);
		font-weight: 500;
		font-size: max-to-min(20px, 16px);
		line-height: 1.25;
		text-decoration: none;

		@media (max-width: $screen-md-max) {
			margin: 0 auto;
			font-size: 16px;
		}
	}

	&__button-login {
		margin-left: 24px;
		flex: none;
	}

	&__menu-mobile {
		display: flex;
		flex-flow: column;
		position: absolute;
		top: var(--header_-_height);
		left: 0;
		width: 100%;
		height: calc(100vh - var(--header_-_height));
		overflow-y: auto;
		background: #FFFFFF;

		&.enter-active,
		&.leave-active {
			transition: opacity;
		}

		&.enter-active {
			transition-duration: 0.3s;
		}

		&.leave-active {
			transition-duration: 0.15s;
		}

		&.enter,
		&.leave-to {
			opacity: 0;
		}
	}

	&__nav-mobile {
		margin-bottom: auto;
	}

	&__menu-mobile-footer {
		margin-top: 24px;
		padding: 16px;
	}

	&__menu-mobile-copyright {
		color: var(--color-dusty-gray);
		font-weight: 500;
		font-size: 12px;
		line-height: (18 / 12);
	}
}
