:root {
	--section_-_padding-y: #{max-to-min(60px, 30px)} 0;
}

.section {
	padding: var(--section_-_padding-y);
	background: var(--color-white);

	&__container {
		@include container;
	}

	&__header {
		margin-bottom: 30px;
	}

	&__header-grid {
		display: flex;

		@media (max-width: $screen-sm-max) {
			flex-flow: column;
		}
	}

	&__header-cell {
		&:nth-child(2) {
			align-self: center;
			margin: 0 0 0 60px;
			max-width: 765px;
		}

		@media (max-width: $screen-sm-max) {
			&:nth-child(2) {
				margin: 15px 0 0;
			}
		}
	}

	&__title {
		margin: 0;
		color: var(--color-tundora);
		font-weight: 400;
		font-size: max-to-min(48px, 40px);
		line-height: var(--line-height-heading);
	}
}
