include ../content/content
include ../posts-widget/posts-widget

mixin section({title, desc} = {})
	+b.SECTION.section&attributes(attributes)
		+e.container
			if attributes.class.indexOf('--about') !== -1
				+e.grid-about
					+e.cell-about
						+e.HEADER.header
							+e.H2.title
								| !{title}

						+e.main
							+content().__content-about
								block

					+e.cell-about
						+posts-widget().__news
						+posts-widget().--faq.__faq
			else
				+e.HEADER.header
					if desc
						+e.grid-header
							+e.cell-header
								+e.H2.title
									| !{title}

							+e.cell-header
								+content().--smaller.__desc
									| !{desc}
					else
						+e.H2.title
							| !{title}

				+e.main
					block
