.footer {
	display: flex;
	flex-flow: column;
	border-top: 4px solid rgba($color-black, 0.1);
	padding: max-to-min(64px, 32px) 0;
	overflow: hidden;
	background: #F8F8F8;
	color: var(--color-default);
	font-weight: 500;
	font-size: 12px;
	line-height: (18 / 12);

	a {
		color: var(--color-primary);
		text-decoration: none;
		transition: color $duration-normal;

		@include hover {
			&:not([href^='tel:']) {
				color: var(--color-primary-hover);
			}
		}

		&[href^='tel:'] {
			color: inherit;
		}
	}

	.color-lighten {
		color: var(--color-dusty-gray);
	}

	&__container {
		@include container;
	}

	&__grid {
		display: flex;
		flex-flow: wrap;
		margin: -12px max-to-min(-20px, -16px);
	}

	&__cell {
		padding: 12px max-to-min(20px, 16px);

		&:nth-child(4) {
			flex: 1 1 auto;
			text-align: right;
		}

		@media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
			flex: 0 0 50%;

			&:nth-child(1) {
				order: 1;
				text-align: right;
			}

			&:nth-child(2) {
				order: 0;
			}

			&:nth-child(3) {
				order: 2;
			}

			&:nth-child(4) {
				order: 3;
			}
		}

		@media (max-width: $screen-xs-max) {
			flex: 0 0 100%;

			&:nth-child(4) {
				margin-top: 12px;
				text-align: left;
			}
		}
	}
}
