mixin footer()
	+b.FOOTER.footer&attributes(attributes)
		+e.container
			+e.grid
				+e.cell
					a(href='tel:+74952300130')
						| +7 (495) 230&mdash;01&mdash;30

				+e.cell
					+e.A(href='mailto:nekrasovka-park@uk-4suns.ru')
						| nekrasovka-park@uk-4suns.ru

				+e.cell
					+e.A(href='mailto:nekrasovka-park@uk-4suns.ru')
						| room-park@uk-4suns.ru

				+e.cell
					+e.copyright
						| 2019&nbsp;&copy; УК&nbsp;&laquo;Четыре солнца&raquo;
