mixin map-contacts()
	+b.map-contacts(
		data-controller='map-contacts'
		data-map-contacts-center='[55.699857, 37.926589]'
		data-map-contacts-markers=`[
			["ООО УК \\"Четыре Солнца\\"", 55.699857, 37.926589]
		]`
	)&attributes(attributes)
