mixin map-objects()
	+b.map-objects(
		data-controller='map-objects'
		data-map-objects-center='[55.670629, 37.638370]'
		data-map-objects-objects=`[
			["Румянцево-Парк", "${baseDir}images/content/objects/rumyantsevo.jpg", 55.632518, 37.414654],
			["Некрасовка-Парк", "${baseDir}images/content/objects/nekrasovka.jpg", 55.702628, 37.925615]
		]`
	)&attributes(attributes)
