.content-spoiler {
	$r: &;

	&.is-opened {
		#{$r}__icon {
			transform: rotate(-45deg);
		}
	}

	&__header {
		display: flex;
		align-items: flex-start;
		cursor: pointer;
	}

	&__title {
		margin: auto 0;
		flex: 1 1 auto;
		color: var(--color-mine-shaft);
		font-weight: 400;
		font-size: 24px;
		line-height: var(--line-height-heading);
	}

	&__icon {
		margin-top: 1.5px;
		flex: none;
		width: 24px;
		height: 24px;
		color: var(--color-primary);
		transition: transform $duration-normal;
	}

	&__main {
		overflow: hidden;

		&.enter-active,
		&.leave-active {
			transition: opacity, height;
		}

		&.enter-active {
			transition-duration: 0.3s;
		}

		&.leave-active {
			transition-duration: 0.15s;
		}

		&.enter,
		&.leave-to {
			opacity: 0;
		}
	}

	&__content {
		margin-top: 24px;
	}
}
