include ../time/time

mixin news()
	-
		const items = [
			{
				title: 'О предоставлении субсидий за оплату коммунальных услуг. Общее собрание собственников помещений',
				date: '22.04.2020'
			},
			{
				title: 'Информация по оплате коммунальный услуг',
				date: '20.04.2020'
			},
			{
				title: 'Переезд инженерной службы',
				date: '19.04.2020'
			},
			{
				title: 'Электронные услуги ЖКХ',
				date: '18.04.2020'
			},
			{
				title: 'Пени за не оплату коммунальных услуг',
				date: '17.04.2020'
			},
			{
				title: 'В Новый год без долгов за жилищно-коммунальные услуги',
				date: '15.04.2020'
			},
			{
				title: 'Изменение адреса ООО УК "Четыре Солнца"',
				date: '14.04.2020'
			},
			{
				title: 'Изменение адреса Инженерной службы',
				date: '13.04.2020'
			},
			{
				title: 'Уведомление об ограничении коммунальных услуг. Ноябрь 2017',
				date: '12.04.2020'
			},
			{
				title: 'Общее собрание собственников помещений',
				date: '10.04.2020'
			},
			{
				title: 'Общее собрание собственников помещений',
				date: '09.04.2020'
			},
			{
				title: 'Электронные услуги ЖКХ',
				date: '08.04.2020'
			}
		];

	+b.news&attributes(attributes)
		+e.grid
			each item in items
				+e.A.item(href=jsv title=item.title)
					+e.H2.item-title #{item.title}
					+time().__item-date #{item.date}

			// Spaces
			+e.item--space
