.news {
	display: flex;
	flex-flow: column;

	&__grid {
		display: flex;
		flex-flow: wrap;
		margin: max-to-min(-16px, -8px) -16px;
	}

	&__item {
		display: flex;
		flex-flow: column;
		margin: max-to-min(16px, 8px) 16px;
		border-radius: 8px;
		padding: 24px 24px 20px;
		flex: 1 1 288px;
		min-width: 0;
		min-height: max-to-min(240px, 192px);
		overflow: hidden;
		background: #FFFFFF;
		box-shadow: 0 4px 8px rgba(#000000, 0.08);
		color: var(--color-default);
		text-decoration: none;
		transition: color, transform;
		transition-duration: $duration-normal;

		@include hover {
			color: var(--color-primary);
			transform: translateY(-8px);
		}

		&--space {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;
			height: 0;
			min-height: 0;
			visibility: hidden;
		}
	}

	&__item-title {
		margin: 0 0 auto;
		max-height: calc(var(--line-height-heading) * 1em * 4);
		overflow: hidden;
		font-weight: 500;
		font-size: 24px;
		line-height: var(--line-height-heading);
		@include line-clamp-short(4);
	}

	&__item-date {
		--time_-_font-size: 12px;
		margin-top: 24px;
	}
}
