extends index
include components/section-main/section-main
include components/content/content

append vars
	-
		headerTransparent = false;

block main
	+section-main({
		breadcrumb: [['Новости', 'news.html']],
		title: 'О предоставлении субсидий за оплату коммунальных услуг',
	}).--article
		+e.main
			+e.container
				+e.column-content
					+content().--article
						p.
							В&nbsp;соответствии с&nbsp;постановлением Правительства РФ&nbsp;от&nbsp;02.04.2020
							&#8470;&nbsp;420&nbsp;в период с&nbsp;апреля 2020 года
							(дата окончания действия субсидии&nbsp;&mdash; 01.03.2020) по&nbsp;октябрь 2020 года
							(дата окончания действия субсидии&nbsp;&mdash; 30.09.2020) предоставление субсидий
							на&nbsp;оплату жилого помещения и&nbsp;коммунальных услуг продлевается на&nbsp;следующие
							6&nbsp;месяцев &laquo;автоматически&raquo; в&nbsp;беззаявительном порядке без посещения
							гражданами Центров государственных услуг &laquo;Мои документы&raquo;
							и&nbsp;&laquo;Районных отделов жилищных субсидий&raquo; и&nbsp;письменных обращений
							в&nbsp;органы исполнительной власти.

						p О предоставлении субсидий за оплату коммунальных услуг

		+e.FOOTER.footer
			+e.container
				+e.column-content
					+time() 22.04.2020
