extends index
include components/section-main/section-main

append vars
	-
		headerTransparent = false;

block main
	+section-main({
		breadcrumb: [['Новости', 'news.html']],
		title: 'О предоставлении субсидий за оплату коммунальных услуг',
	})

