extends pug/base

prepend vars
	-
		const jsv = 'javascript:void(0)';
		title = 'Управляющая компания Четыре солнца';

append vars
	-
		html.classList.push('app');
		body.classList.push('app__body');

block content
