extends pug/base
include components/header/header
include components/footer/footer

prepend vars
	-
		title = 'Управляющая компания Четыре солнца';

append vars
	-
		baseDir = './';
		html.classList.push('app');
		body.classList.push('app__body');
		meta.viewport = 'width=device-width, initial-scale=1, shrink-to-fit=no';

		const jsv = 'javascript:void(0)';
		let headerTransparent = false;

append head-end
	<script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');</script>

block content
	+header().app__header(class={'header--transparent': headerTransparent} data-header-transparent=headerTransparent ? '' : null)

	main.app__main
		block main

	+footer().app__footer
