extends index
include components/slider-main/slider-main
include components/section/section
include components/services/services
include components/section-promo/section-promo
include components/map-objects/map-objects
include components/objects/objects

append vars
	-
		headerTransparent = true;

block main
	+slider-main()
	+section({
		title: 'Услуги',
		desc: `
			<p>Управляющая компания &laquo;Четыре солнца&raquo; предлагает полный перечень услуг по&nbsp;эксплуатации жилых и&nbsp;не&nbsp;жилых зданий в&nbsp;городе Москва, в&nbsp;соответствии с&nbsp;нормами законодательства Российской Федерации.
			</p>
		`
	}).--services
		+e.container
			+services()

	+section({title: 'Объекты'}).--objects
		+map-objects()
		+e.container
			+objects().__objects

	+section-promo()
	+section().--about
	+section().--contacts
