extends index
include components/section/section
include components/services/services
include components/section-promo/section-promo
include components/content/content

append vars
	-
		headerTransparent = true;

block main
	+section({
		title: 'Услуги',
		desc: `
			<p>Управляющая компания &laquo;Четыре солнца&raquo; предлагает полный перечень услуг по&nbsp;эксплуатации жилых и&nbsp;не&nbsp;жилых зданий в&nbsp;городе Москва, в&nbsp;соответствии с&nbsp;нормами законодательства Российской Федерации.
			</p>
		`
	}).--services
		+services()

	+section-promo()

	+section({
		title: 'Компания'
	}).--about
		p &laquo;Четыре Солнца&raquo; была основана в&nbsp;2010&nbsp;году. Компания занимается управлением и&nbsp;обслуживанием жилых домов в&nbsp;г. Москве.

		p Основным приоритетом управляющей компании &laquo;Четыре Солнца&raquo; является&nbsp;&mdash; профессиональная деятельность по&nbsp;управлению жилыми комплексами, поддержанию работоспособности всех инженерных систем объектов недвижимости и&nbsp;предоставлению пользователям этих объектов различных сервисных услуг.

		p Общая площадь эксплуатируемых зданий составляет более 360&nbsp;000&nbsp;м&sup2;&nbsp;&mdash; это 28&nbsp;жилых дома в&nbsp;Москве, а&nbsp;также нежилые здания.

