extends index
include components/section/section
include components/services/services
include components/section-promo/section-promo

append vars
	-
		headerTransparent = true;

block main
	+section('services', 'Услуги')
		+services()

	+section-promo()
