extends index
include components/section-main/section-main
include components/news/news

append vars
	-
		headerTransparent = true;

block main
	+section-main({title: 'Новости'}).--header-bg
		+e.main
			+news()
