.section-promo {
	display: flex;
	padding: max-to-min(64px, 32px) 0;
	min-height: max-to-min(480px, 368px);
	background: none no-repeat 50% / cover;

	&__container {
		@include container;
		flex: 0 0 100%;
	}

	&__grid {
		display: flex;
		flex-flow: column;
		max-width: 480px;
		min-height: 100%;
	}

	&__title {
		margin: 0 0 32px;
		color: var(--color-white);
		font-weight: 400;
		font-size: max-to-min(48px, 32px);
		line-height: var(--line-height-heading);
	}

	&__content {
		margin-bottom: auto;
		color: var(--color-white);
		font-size: max-to-min(24px, 16px);
		line-height: 1.25;

		p {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 1.25em;
			}
		}
	}

	&__footer {
		margin-top: 32px;
	}
}
