include ../field/field

mixin field-label({tag, label} = {})
	-
		attributes.class = attributes.class + ' __field';

	+b.LABEL.field-label
		if label
			+e.label !{label}

		+field({tag})&attributes(attributes)
			block
